In this version I add bonus features: **bold indicates done**
- **Add a menu item that allows the user to view all historical transactions**
- **Assign categories to each transaction**
    - Add a menu item to allow the user to view all the transactions in a given category
    - Provide the user with summary statistics about the transactions in each category
- Keep track of the date and time that each transaction happened
    - Allow the user to view all the transactions for a given day
    - Hint: Make sure your list of previous transactions includes the timestamp for each
- Allow the user to optionally provide a description for each transaction
    - Allow the user to search for keywords in the transaction descriptions, and show all the transactions that match the user's search term
- Allow the user to modify past transactions

In [ ]:
import os
import pandas as pd
import numpy as np

def main():

    # initialize balance
    transactions = initialize_transactions()

    # greeting
    print("~~~ Welcome to your terminal checkbook! ~~~\n")

    # run options until user exits
    while True:
        print(
            """What would you like to do?\n
                1) view current balance\n
                2) view transactions\n
                3) view transactions by category (withdrawal or deposit)
                4) record a debit (withdraw)\n
                5) record a credit (deposit)\n
                6) exit\n""")
        
        # get and validate input
        while True:

            usr_input = input('Your choice? ')

            if 1 <= int(usr_input) <= 6:
                usr_input = int(usr_input)
                break
            else:
                print(f'Invalid choice: {usr_input}\n')
        
        # run option
        if usr_input == 1:
            view_balance(transactions['balance'])
        elif usr_input == 2:
            # ask for input until integer or all is inputed
            while True:
                rows = input('\nHow many recent transactions? (number or "all") ')
                if rows == 'all' or is_int(rows):
                    break
             
        elif usr_input == 3:
            # ask for input while input is not int and not all
            while True:
                u_i = input('\nView deposits or withdraws? ("d" or "w") ')
                if u_i.lower() in ['b','w']:
                    break
            view_trans_by_cat(transactions)
        elif usr_input == 4:
            withdraw(transactions)     
        elif usr_input == 5:
            deposit(transactions)
        elif usr_input == 6:
            exit_farewell()
            break

    # save_balance into 'balance.txt'
    save_transactions(transactions)

    # exit app
    exit()


# function to intitialize transactions DataFrame
def initialize_transactions():
    # if csv of transactions exists, initialize transactions DataFrame with it
    if os.path.exists('transactions.csv'):
        df = pd.read_csv('transactions.csv')
        return df
    # else initialize transactions DataFrame with balance of 0
    else:
        cols = ['transaction','amount','balance']
        # first row data
        data = pd.Series( np.array([np.nan, np.nan, 0.0]), index=cols) 
        df = pd.DataFrame(columns=cols)
        # Add the row to the DataFrame
        df.loc[0] = data
        return df


# save transactions to csv
def save_transactions(df):
        df.to_csv('transactions.csv', index=False)

# option 1 function: view balance
def view_balance(bal_series, current=True):
    # view current balance
    if current:
        # get last (most recent) balance value
        bal = bal_series[len(bal_series)-1]
        # display balance
        bal_disp = '\nYour current balance is ${:.2f}.\n'.format(\
                        round(abs(bal_series[len(bal_series)-1]), 2))

    # insert '-' if balance is negative
    if bal < 0:
        bal_disp = bal_disp[:25] + '-' + bal_disp[25:]
    print(bal_disp)
    
# option 2 function: view transaction history
def view_transactions(df, row_limit=False, group=False):
    if row_limit == "all":
        row_limit = len(df)
    if group:
        
    print(f'\n{df.tail(int(row_limit))}\n\n')
    

# option 3 function: make withdrawal, updates dataframe without assignment
def withdraw(df):
    # withdrawal prompt
    debit = float(input('\nHow much is the debit? $'))
    # calculate new balance
    new_bal = df['balance'][len(df)-1] - debit
    # create row of data for transaction
    data = pd.Series( ['withdrawal', debit * -1, new_bal], index=df.columns)

    # add data to end of transactions
    df.loc[len(df)] = data
    return df

# option 4 function: make deposit, similar to withdraw function, 
# except we add from balance
def deposit(df):
    credit = float(input('\nHow much is the credit? $'))
    new_bal = df['balance'][len(df)-1] + credit
    data = pd.Series( ['deposit', credit, new_bal], index=df.columns) 

    df.loc[len(df)] = data
    return df

# option 5 function: exit app
def exit_farewell():
    # farewell
    print("\nThanks, have a great day!\n")
    
# function to check if input is an int
def is_int(string):
    try:
        int(int(string))
        return True
    except ValueError:
        return False

# main()

In [ ]:
main()

~~~ Welcome to your terminal checkbook! ~~~

What would you like to do?

                1) view current balance

                2) view transactions

                2) record a debit (withdraw)

                3) record a credit (deposit)

                4) exit

Your choice? 2

How many recent transactions? (number or "all") all

  transaction  amount  balance
0         NaN     NaN   -50.00
1     deposit   30.00   -20.00
2  withdrawal  -45.00   -65.00
3     deposit  100.00    35.00
4  withdrawal  -13.22    21.78
5     deposit  149.00   170.78


What would you like to do?

                1) view current balance

                2) view transactions

                2) record a debit (withdraw)

                3) record a credit (deposit)

                4) exit

Your choice? 2

How many recent transactions? (number or "all") 3

  transaction  amount  balance
3     deposit  100.00    35.00
4  withdrawal  -13.22    21.78
5     deposit  149.00   170.78


What would you like to do?

                1) view current balance

                2) view transactions

                2) record a debit (withdraw)

                3) record a credit (deposit)

                4) exit

Your choice? 1

Your current balance is $170.78.

What would you like to do?

                1) view current balance

                2) view transactions

                2) record a debit (withdraw)

                3) record a credit (deposit)

                4) exit

In [24]:
df = initialize_transactions()
df.head(10)

  transaction  amount  balance
0         NaN     NaN   -50.00
1     deposit   30.00   -20.00
2  withdrawal  -45.00   -65.00
3     deposit  100.00    35.00
4  withdrawal  -13.22    21.78
5     deposit  149.00   170.78

In [25]:
df.dtypes

transaction     object
amount         float64
balance        float64
dtype: object

In [220]:
df.columns

Index(['transaction', 'amount', 'balance'], dtype='object')

In [228]:
save_transactions(df)

In [222]:
view_balance(df['balance'])

Your current balance is -$50.00.

In [223]:
df.dtypes

transaction    float64
amount         float64
balance        float64
dtype: object

In [224]:
deposit(df)

How much is the credit? 30

  transaction  amount  balance
0         NaN     NaN    -50.0
1     deposit    30.0    -20.0

In [225]:
df.dtypes

transaction     object
amount         float64
balance        float64
dtype: object

In [226]:
withdraw(df)

How much is the debit? 45

  transaction  amount  balance
0         NaN     NaN    -50.0
1     deposit    30.0    -20.0
2  withdrawal   -45.0    -65.0

In [227]:
deposit(df)

How much is the credit? 100

  transaction  amount  balance
0         NaN     NaN    -50.0
1     deposit    30.0    -20.0
2  withdrawal   -45.0    -65.0
3     deposit   100.0     35.0